#root .profile {
  padding-top: 53px;
  background-color: #fafafa;
  min-height: 100vh;
}
#root .profile .wrapper {
  width: 1000px;
  margin: 0 auto;
  padding-top: 36px;
}
#root .profile .info {
  display: flex;
  align-items: center;
}
#root .profile .info .profile-image {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  background-color: #e8e8e8;
  margin-right: 18px;
  flex-shrink: 0;
}
#root .profile .info .profile-desc {
  flex: 1;
}
#root .profile .info .profile-desc .nickname {
  font-size: 16px;
  color: #262626;
}
#root .profile .info .profile-desc .quote {
  font-size: 12px;
  line-height: 1.6;
  margin-top: 12px;
  color: #454545;
}
#root .profile .info .profile-desc .quote textarea {
  border: none;
  resize: none;
  width: 100%;
  height: 72px;
  background-color: #fafafa;
}
#root .profile .info .profile-desc .follow-btn {
  width: 100px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid #e8e8e8;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #262626;
  font-size: 12px;
  margin-top: 12px;
}
#root .profile .feed-images {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  margin-top: 32px;
}
#root .profile .feed-images .feed-image {
  display: flex;
  align-items: center;
}
#root .profile .feed-images .feed-image img {
  margin-right: 20px;
  width: unset;
  height: 175px;
  border-radius: 30px;
}
#root .profile .profile-contents {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 34px;
}
#root .profile .profile-contents .feed-list {
  width: 729px;
}
#root .profile .profile-contents .feed-list .feed {
  background-color: white;
  margin-top: 25px;
  border: 1px solid #e8e8e8;
  padding: 20px 24px;
}
#root .profile .profile-contents .feed-list .feed .top {
  display: flex;
  align-items: center;
}
#root .profile .profile-contents .feed-list .feed .top .profile-image {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #e8e8e8;
  margin-right: 12px;
}
#root .profile .profile-contents .feed-list .feed .top .profile-desc .nickname {
  font-size: 14px;
  color: #454545;
}
#root .profile .profile-contents .feed-list .feed .top .profile-desc .timestamp {
  font-size: 10px;
  color: #454545;
  opacity: 0.4;
  margin-top: 2px;
}
#root .profile .profile-contents .feed-list .feed .contents {
  margin-top: 48px;
  font-size: 12px;
  color: #454545;
  line-height: 1.8;
}
#root .profile .profile-contents .feed-list .feed .contents .image {
  width: 100%;
  height: 309px;
  background-color: #e8e8e8;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 25px;
}
#root .profile .profile-contents .feed-list .feed .bottom {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
#root .profile .profile-contents .feed-list .feed .bottom .like,
#root .profile .profile-contents .feed-list .feed .bottom .comment {
  display: flex;
  align-items: center;
}
#root .profile .profile-contents .feed-list .feed .bottom .like .asset,
#root .profile .profile-contents .feed-list .feed .bottom .comment .asset {
  width: 32px;
  display: flex;
  align-items: center;
  margin-right: 12px;
}
#root .profile .profile-contents .feed-list .feed .bottom .like .count,
#root .profile .profile-contents .feed-list .feed .bottom .comment .count {
  font-size: 16px;
  color: #9D9D9F;
}
#root .profile .profile-contents .feed-list .feed .bottom .like {
  margin-right: 24px;
}
#root .profile .profile-contents .profile-info-desc {
  width: 255px;
  display: grid;
  row-gap: 8px;
  padding: 16px;
  background-color: #e8e8e8;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}
#root .profile .profile-contents .profile-info-desc .desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#root .profile .profile-contents .profile-info-desc .desc > .title {
  font-size: 12px;
  text-align: left;
}
#root .profile .profile-contents .profile-info-desc .desc .count {
  text-align: right;
  font-size: 12px;
}/*# sourceMappingURL=index.css.map */