$class-101-black: #262626; //컨트롤p해서 >live watch잘 확인하기
$class-101-gray: #e8e8e8;
#root{
    .join{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .wrapper{
            width: 272px;

            .logo{
                width: 100%;
                display: flex;
                align-items: center;
            }
            .join-content{
                margin-top: 36px;
                .custom-inp{
                    .top{//양쪽 배치
                        display: flex;
                        align-items: flex-end; //바닥
                        justify-content: space-between; //양쪽으로 멀어지게해줌
                        &>.title{
                            font-size: 12px;
                            color: $class-101-black;
                        }
                        .warning{
                            font-size: 10px;
                            color: $class-101-black;
                        }
                    }
                    .inp{
                        margin-top: 4px;
                        input{
                            width: 272px;
                            height: 34px;
                            border: 1px solid $class-101-gray;
                            border-radius: 5px;
                            padding-left: 8px;
                            &::placeholder{ //자기자신호출
                                color: $class-101-gray;
                            }
                        }
                    }
             
               }
               .password-inp{
                margin-top: 28px;
               }
               .nickname-inp{
                margin-top: 28px;
               }
               .join-btn{
                width: 100%;
                height: 34px;
                background-color: $class-101-black;
                border: none;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                cursor: pointer; //커서올리면 손가락모양
                margin-top: 48px;
               }

            }


        }
    }
}